<FilesMatch "\.php$">
    Order deny,allow
    Deny from all
    Allow from 131.103.20.160/27
    Allow from 165.254.145.0/26
    Allow from 104.192.143.0/24
</FilesMatch>

<Files conf.php>
    order allow,deny
    deny from all
</FilesMatch>

<Files conf.php.example>
    order allow,deny
    deny from all
</FilesMatch>

<Files .gitignore>
    order allow,deny
    deny from all
</Files>

<Files .gitattributes>
    order allow,deny
    deny from all
</Files>

<Files .gitmodules>
    order allow,deny
    deny from all
</Files>

<Files .htaccess>
    order allow,deny
    deny from all
</Files>